@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ant design */
@import '~antd/dist/antd.css';

@import "./theme/variables";
@import "./theme/global";

body {
  margin: 0;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  list-style-position: outside;
}
