@import "../../styles/theme/_variables.scss";

.profile {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  &_card {
    margin: 15px !important;

    :global(.ant-card-cover) {
      background-color: $profile-bg;
    }

    label {
      display: flex;
      align-items: center;

      span {
        padding-right: 5px;
      }
    }
  }
}
